In [1]:
import pandas as pd

In [12]:
fake_data = [
    {'id': 0, 'name': 'Alan'},
    {'id': 1, 'name':'Bert'},
    {'id': 2, 'name':'Cat'},
    {'id': 3, 'name':'Dez'},
    {'id': 4, 'name':'Eli'},
    {'id': 5, 'name':'Flo'}
]

In [3]:
new_df = pd.DataFrame(fake_data)

In [6]:
data = new_df.set_index('id')[3:].copy(deep=True)

In [7]:
for i, row in new_df.iterrows():
    print(type(row))

<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>

In [10]:
for i, row in new_df.iterrows():
    new_df.append(row)

# 새로운 row를 Series 타입으로 만들어 append 하기

In [14]:
series1 = pd.Series([39, 'Kyle'], index=['id', 'name'])
series1

id        39
name    Kyle
dtype: object

In [15]:
new_df.append(series1, ignore_index=True)

   id  name
0   0  Alan
1   1  Bert
2   2   Cat
3   3   Dez
4   4   Eli
5   5   Flo
6  39  Kyle